@model Manutec.Application.Commands.UserEntity.InsertUserCommand
@using Manutec.Core.Enums

@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<h2>Cadastrar Usuário</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<form asp-action="Create" asp-route-returnToList="@ViewBag.ReturnToList" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WorkShopId"></label>
        <select asp-for="WorkShopId" class="form-control" asp-items="ViewBag.WorkShops"></select>
        <span asp-validation-for="WorkShopId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<UserRole>()"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>

    @if (ViewBag.ReturnToList != true)
    {
        <div class="text-center mt-4">
            <hr />
            <p class="mb-2">Já tem uma conta?</p>
            <a asp-controller="LoginUsuario" asp-action="Login" class="btn btn-outline-secondary">
                Ir para Login
            </a>
        </div>
    }
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}